<!DOCTYPE html>
<html>
  <head>
    <title>Benmo</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <Link 
    rel="icon" 
    type="image/icon" 
    href="https://raw.githubusercontent.com/noelseo/Benmo/master/app/assets/images/benmo.ico"
    >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.phonesURL = "<%= image_url('phones.mov') %>";
    </script>

    <script type="text/javascript">
      window.benmologo = "<%= image_url('benmologo.png') %>";
    </script>

    <script type="text/javascript">
      window.benmologonavbar = "<%= image_url('benmologo-navbar.png') %>";
    </script>

    <script type="text/javascript">
      window.github = "<%= image_url('github.png') %>";
    </script>

    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.png') %>";
    </script>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
