<!DOCTYPE html>
<html>
  <head>
    <title>Benmo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.androidURL = "<%= image_url('nexus-marketing-site@1x.png') %>";
    </script>
    <script type="text/javascript">
      window.iphoneURL = "<%= image_url('iphone6-marketing-site@1x.png') %>";
    </script>
    <script type="text/javascript">
      window.benmoURL = "<%= image_url('venmo_logo_blue.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
